
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #03f9b0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    height: 13vh;
    width: 100%;
    display: flex;
    background-color: rgb(229, 249, 249);
    position: fixed;
    align-items: center;
    justify-content: space-around;

}

#fakeheader {
    height: 13vh;
    width: 100%;
    background-color: white;
}

#logo {
    height: 70%;


}

#logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    margin-left: 30px;
    color: rgb(5, 52, 23);
    font-weight: normal;
    font-size: large;
}

.text:hover {
    margin-left: 30px;
    color: rgb(36, 98, 192);
    font-weight: normal;
    font-size: large;
}

.icon {

    padding: 20px;
    border-radius: 30px;

}

.icon:hover {
    background-color: lightblue;
    padding: 20px;


}


.contact {

    font-weight: lighter;
}

#login {
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login:hover {

    background-color: lightblue;
}

#try button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;


}

#try button:hover {

    background-color: rgb(6, 62, 6);
}

#strip {
    height: 8%;
    width: 100%;
    background-color: rgba(12, 12, 150, 0.804);
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;

}

#strip u {
    font-weight: lighter;
}


#contant {
    height: 69%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}


#box1 {
    height: 90%;
    width: 47%;
    background-color: rgb(255, 255, 255);

    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#box1 h1 {
    color: rgb(2, 2, 79);
    font-size: 60px;
    margin-left: 40px;
    margin: 30px;


}

#box1 p {
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: lighter;
    margin: 30px;
    color: rgb(2, 2, 96);
    margin-bottom: 60px;
}

#button1 {
    font-weight: bold;
    margin: 10px;
    margin-left: 130px;
    background-color: rgb(9, 107, 199);
    color: white;
    padding: 15px;
    border-color: rgb(0, 132, 255);
    border-radius: 5px;
}

#button1:hover {
  font-weight: bold;
    margin: 10px;
    margin-left: 130px;
    background-color: rgb(2, 33, 126);
    color: white;
    padding: 15px;
    border-color: rgb(0, 132, 255);
    border-radius: 5px;
}



#button2 {
    font-weight: bold;
    margin: 10px;
    background-color: white;
    color: rgb(0, 132, 255);
    padding: 15px;
    border-color: rgb(0, 132, 255);

    border-radius: 5px;
}

#button2:hover {
    font-weight: bold;
    margin: 10px;
    background-color: rgb(107, 215, 248);
    color: rgb(0, 132, 255);
    padding: 15px;
    border-color: rgb(0, 132, 255);
    color: black;
    border-radius: 5px;
}


#box2 {
    height: 90%;
    width: 47%;
    background-color: rgb(0, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    overflow: hidden;

}
#box2img{
      height: 90%;
    width: 47%;
    border-radius: 20px;  
    overflow: hidden;
    position: absolute;
    padding: 30px;
    
}
#card{
    position: absolute;
   height: 50%;
    width: 37%;
    margin: 10px;
    background-color: blue;
    border-radius: 20px;
}


#heading {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    color: darkblue;
    font: weight 500px;
    ;
}



#page2 {
    height: 90vh;
    width: 100%;
    background-color: rgb(185, 250, 255);
}